<mat-grid-list cols="5">
    <mat-grid-tile *ngFor="let b of blogDetails">
        <!-- <mat-card *ngFor="let b of blogDetails"> -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{b.title}}</mat-card-title>
                <mat-card-subtitle>{{b.contents}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Some text....</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>